/****************** General Styles********************/

body{

    font-family: 'Montserrat', sans-serif;
}




.alert, .alert div {
    width: 100%;
    background-color: red;
    color:white;
    text-align: center;
    font-weight: bolder;
    font-size: 4vw;
    margin: 0;
    padding: 5px 0;
}



/****************** header Styles********************/



.logo {
    width: 100%;
    text-align: center;
    margin-top: 5px;

}

.balance_div {
    margin: 20px 0;
    width: 100%;
    
}

.balance_div hr{
    margin: 0px;
    width: 2px;
    border: none;
    background-color: #33af0b;
}


.balance_text{ /* and budget text */
    color: rgb(146, 141, 141);
    font-size: 1.2rem;
    margin: 0;
    text-align: center;

}

.budget_text {
    display: inline;

}

.budget {
    margin: 0;
    margin-bottom: 20px;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.budget_div h1, .budget_div  {
    display: inline;
}

.edit_icon {
    display: inline;
    text-align: center;

}

.budget_num  {
    font-size: 3rem;
    margin: 0;

}

.budget_separator{
    width: 100%;
    text-align: center;

}

.balance_separator {
    width: 100%;
    text-align: center;
}

.balance_separator p{
    display: inline;
 
}




/****************** Caterogies Styles********************/

.cat_header {
    visibility: hidden;
}

.cat_parent_div {
    width: 80%;
    border-left: 2px solid black;
    margin: 0 auto;
    display: flex;
}

.arrows {
    width: 80%;
    margin: 20px auto;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.arrows p {
    display: inline;
    margin: 0;
}

.arrows i{
    color: #33af0b;
    cursor: pointer;
    margin-top: 8px;
}

.cat_div {
    width: 100%;
}

.cat_icon {
    margin-right: 5px; 
}

.food_icon{
    color: rgb(161, 16, 223);
}

.enter_icon{
    color: #F9CA03;
}

.bills_icon{
    color: #FF5E00;
}

.clothing_icon{
    color:  rgb(18, 148, 230);
}

.cat {
    margin: 15px auto 15px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;

}


/****************** Expenses Styles********************/
.main {

    margin-bottom: 100px;
}

.expenses_header {
    text-align: center;
    
}

.expensesDiv {
    width: 80%;
    height: auto;
    
    margin: 0 auto;
}

.expense {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.2rem;
    position: relative;
    height: 40px
      
}

.food_color{
    border-left: solid 5px rgb(161, 16, 223);
}

.enter_color{
    border-left: solid 5px #F9CA03;
}

.bills_color{
    border-left: solid 5px #FF5E00;
}

.clothing_color{
    border-left: solid 5px rgb(18, 148, 230);
}

.expense_element {
    margin: 10px ;
}

.expense span {
    height: 50%;
    margin: auto 0px;
}

.inline {
    display: inline;
}

.deleteIcon {
    position: absolute;
    right: -30px;
   bottom: 0px;
   
}

.deleteIcon:hover {
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 7px;
    right: -37px;
    bottom: -7px;
        
}


.deleteIcon:active {
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 7px;
    right: -37px;
    bottom: -7px;
  
}

.total_expenses, .total_cats {
    width: 91%;
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: end;
    color: #33af0b;
}

/****************** Add fixed button Styles********************/

.add_button {
    width: 80px;
    height: 80px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}


/* *****************Pop-Up Styles****************************/
#hidden {
    display: none;
    justify-content: center;
    align-items: center; 
    position: fixed;
    top: 0%;
    transform: translateY(-100%);
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(0, 0, 0, 0.65);

    height: 100vh;
    width: 100vw;
    z-index: 999999;
}

#popup {
   display: flex;
   justify-content: center;
   align-items: center; 
   border-radius: 10px;
   background-color: #33ac0b;
   width: 80vw;
   height: 70vh;
}

.pop_header {
    color: white;
}

.pop_text {
    color: #eee;
    width: 90%;
    text-align: start;
    font-size: 1.1rem;
}

#expenseForm {
   display: flex;
   justify-content: center;
   align-items: center;  
   flex-direction: column;
   height: 90%;
   width: 90%;
  }

  #formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

  }

  #popupButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
  }

.dropdown {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

input {
    width: 90%;
    height: 40px;
    border-radius: 5px;
  }

#submitButton {
    margin: 30px 15px 0px;
    width: 80%;
    background-color: orange;
  }

#cancelButton {
    margin: 30px 15px 0px;
    width: 80%;
  }
 
/****************** Media queries Styles********************/


@media only screen and (min-width: 648px){
    .balance_div {
        display: flex;
        justify-content: space-evenly;
    }
    .logo {
        width: 80%;
        margin: 5px 60px;
    }

    .balance_separator {
        width: auto;
    }

    .budget_separator {
        width: auto;
    }

    .alert {
        font-size: 3vw;
    }

    hr {
        height: auto;
    }

    #popup {
        width: 60%;
    }
    
    
}

@media only screen and (min-width: 648px) and (orientation: landscape){

   

    #popupButtons {
        flex-direction: row;
    }

    #submitButton {
        margin: 15px 15px 0px;
        width: 30%;
      }
    
    #cancelButton {
        margin: 15px 15px 0px;
        width: 30%;
      }

    
} 

@media only screen and (min-width: 768px) and (orientation: landscape){

    #popup{
        height: 90vh;
    }

    #popupButtons {
        flex-direction: row;
    }

    #submitButton {
        margin: 30px 15px 0px;
        width: 30%;
      }
    
    #cancelButton {
        margin: 30px 15px 0px;
        width: 30%;
      }
}
@media only screen and (min-width: 992px){
    .logo{
        width: 50%;
 
    }

    .arrows {
        display: block;
        color: #33af0b;
    }    

    .arrows i{
        margin: 0 20px;
    }

    .expenses_header {
        color: #33af0b;
    }

    .alert {
        font-size: 2vw;
    }


    #popupButtons {
        flex-direction: row;
    }


    
    #popup {
        width: 50%;
        
    }

    #submitButton, #cancelButton {
        height: 50px;
        width: 40%;

    }

    input, .dropdown {
        height: 40px;
    }

    
   

    

    

    

} 

@media only screen and (min-width: 1200px) {
    .alert {
        z-index: 2
    }
    
    .logo {
        width: 45%;
    }

    .balance_div {
        width: 45%;
    }

    header {
        display: flex;
        justify-content: space-between;
        height: 180px;
        padding: 20px 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
        
    }
    .cat_header {
        visibility: visible;
        position: absolute;
        right: 45%;
        bottom: 50%;
        font-size: 2rem;
        color: #33af0b;
    }

    .cat_parent_div {
        margin-top: 350px;
        
    }

    .expense {
        border-bottom: dotted #33af0b 2px;
    }

    .total_cats, .total_expenses {
        font-size: 1.7rem
    }

    header1{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        z-index: 2;
    }

    #popupButtons {
        flex-direction: row;
    }

    #submitButton {
        width: 30%;
      }
    
    #cancelButton {
        width: 30%;
      }

  
    
}