/****************** General Styles********************/


body{

}


/****************** Expenses Styles********************/

.expensesDiv {
    width: 300px;
    height: 400px;
    border: solid 1px black;
}

.expense {
    display: flex;
    justify-content: space-around;
    
}

.expense_element {
    margin: 10px ;
}

.inline {
    display: inline-block;
}

/****************** Caterogies Styles********************/

.cat_parent_div {
    width: 400px;
    height: 400px;
    border: 2px solid black;
}

.cat_div {
    width: 80%;
}

.cat {
    display: flex;
    justify-content: space-around;
}